{% extends 'base.html' %}
{% load static %}
{% block head %}
<meta name="description"
  content="Phoenix has always strived for overall development of an individual, from technical to communication skills of a person by conducting domain-specific forums to interpersonal development by working in a team and taking leadership roles.">
<script>document.write("<link href='/static/css/style-home.css?id="+Math.floor(Math.random() * 999999999999)+"' rel='stylesheet'>");</script>
<title>HOME | PHOENIX</title>
{% endblock head %}


{% block content %}
<!-- ======= Intro Section ======= -->
<section id="intro" class="clearfix">
  <div class="container" data-aos="fade-up">

    <div class="home-info" data-aos="zoom-in" data-aos-delay="100">
      <h2>PHOENIX<br>Come Let's Rise</h2>
      <div>
        {% comment %} <a href="/membership" class="btn-get-started scrollto">Join us</a> {% endcomment %}
        <a href="#about" class="btn-get-started scrollto">Read More</a>

      </div>
    </div>

    <div class="home-img" data-aos="zoom-out" data-aos-delay="200">
      <img src="{% static 'images/avenir-14.JPG' %} " alt="" class="img-fluid">
    </div>


  </div>
</section><!-- End Intro Section -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3>Phoenix</h3>
        <p> The official Tech club of nsec</p>
      </header>

      <div class="row about-container">

        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right">

          PHOENIX is the official tech club of Netaji Subhash Engineering College. A club which looks into the overall
          development of the students of this college. It was founded by a group of like-minded people in January 2006
          with the aim of inculcating values of friendship, teamwork and leadership as well as increases the technical
          skills like coding and robotics of a student. PHOENIX plays a crucial role in bridging the gap between the
          college and corporate life. A club which provides each individual a stage to shine.

        </div>
        <div class="col-lg-6 background order-lg-2" data-aos="zoom-in">
          <img src="{% static '/images/home1.jpg' %} " class="img-fluid" alt="">
        </div>
      </div>

      <div class="row about-extra">
        <div class="col-lg-6" data-aos="fade-right">
          <img src="{% static '/images/phoenix-pic2.JPG' %} " class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-5 pt-lg-0" data-aos="fade-left">
          <h4>What Phoenix has to offer?</h4>
          <p>
            PHOENIX is instrumental in conducting several weekly forums which helps in the overall development of a
            student. There are domain-specific forums that are free and open to anyone who wants to learn. Various clubs
            responsible for different activities are functional under PHOENIX. These are:
            <br>
            <span>Eloquense:</span> The language club which is responsible for conducting events like debates and open
            mics.
            <br><span>Robonix: </span> The robotics club introduces newly made engineers to the world of creating
            objects from scratch-an RC car, a drone or maybe the next iron man suit.
            <br><span>Cybernix:</span> Keeping up with the need of the hours, a club solely bases for IT-based aced
            activities and coding.
            <br><span>Nirmaan:</span> Mainly for the students of the Civil and Mechanical department, As the
            the name suggests a club which deals with building things.
          </p>
        </div>
      </div>

      <div class="row about-extra">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
          <img src="{% static '/images/avenir-21.jpg' %} " class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right">
          <p>
            Apart from these different workshops and seminar for students on a daily basis, in the association with
            institutions like TIME, Erudite, career launcher, NIIT and organization like TCS etc. are organized for
            students to enhance their and knowledge and develop their personality. Phoenix also takes credit in
            organizing the annual inter college and intra college tech fests, namely Avenir and Aavahan and various
            other events like quizzes and hackathons throughout the year.
          </p>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->

  <!--Core Members-->
  <div class="carousal">
    <div class="heading">
      <h1>OUR CORE MEMBERS</h1>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="box">
            <div class="core">
              <div class="image">
                <img src="{% static '/img/core2022-23/raajbir.jpg' %}" alt="">
              </div>
              <div class="name">
                <h4>Raajbir Bajpaie</h4>
              </div>
              <div class="designation">
                <h5>President</h5>
                <p>Phoenix 2022-23</p>
              </div>
            </div>
            <div class="core">
              <div class="image">
                <img src="{% static '/img/core2022-23/sankhadeep.jpg' %}" alt="">
              </div>
              <div class="name">
                <h4>Sankha Deep Roy</h4>
              </div>
              <div class="designation">
                <h5>Secretary<br></h5>
                <p>Phoenix 2022-23</p>
              </div>
            </div>
            <div class="core">
              <div class="image">
                <img src="{% static '/img/core2022-23/payal.jpg' %}" alt="">
              </div>
              <div class="name">
                <h4>Payal Kumari</h4>
              </div>
              <div class="designation">
                <h5>Treasurer<br></h5>
                <p>Phoenix 2022-23</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="box">
            <div class="core">
              <div class="image">
                <img src="{% static '/img/core2022-23/subhransu.jpg' %}" alt="">
              </div>
              <div class="name">
                <h4>Subhransu Roy</h4>
              </div>
              <div class="designation">
                <h5>Convenor<br></h5>
                <p>Phoenix 2022-23</p>
              </div>
            </div>
            <div class="core">
              <div class="image">
                <img src="{% static '/img/core2022-23/debarghya.jpg' %}" alt="">
              </div>
              <div class="name">
                <h4>Debarghya Goswami</h4>
              </div>
              <div class="designation">
                <h5>Vice-President<br>(PR, Database)</h5>
                <p>Phoenix 2022-23</p>
              </div>
            </div>
            <div class="core">
              <div class="image">
                <img src="{% static '/img/core2022-23/ankita.jpg' %}" alt="">
              </div>
              <div class="name">
                <h4>Ankita Hazra</h4>
              </div>
              <div class="designation">
                <h5>Vice-President <br>(Events and Promotion)</h5>
                <p>Phoenix 2022-23</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="box">
            <div class="core">
              <div class="image">
                <img src="{% static '/img/core2022-23/debjyoti.jpg' %}" alt="">
              </div>
              <div class="name">
                <h4>Debjyoti Roy Sarkar</h4>
              </div>
              <div class="designation">
                <h5>Vice-President (Academics and Forums)</h5>
                <p>Phoenix 2022-23</p>
              </div>
            </div>
            <div class="core">
              <div class="image">
                <img src="{% static '/img/core2022-23/debolina.jpg' %}" alt="">
              </div>
              <div class="name">
                <h4>Debolina Banerjee</h4>
              </div>
              <div class="designation">
                <h5>Assistant Secretary (Events and Promotion)<br>
                </h5>
                <p>Phoenix 2022-23</p>
              </div>
            </div>
            <div class="core">
              <div class="image">
                <img src="{% static '/img/core2022-23/tanushree.jpg' %}" alt="">
              </div>
              <div class="name">
                <h4>Tanushree Karmakar</h4>
              </div>
              <div class="designation">
                <h5>Assistant Secretary (Academics and Forums)<br></h5>
                <p>Phoenix 2022-23</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="box">
            <div class="core">
              <div class="image">
                <img src="{% static '/img/core2022-23/prapti.JPG' %}" alt="">
              </div>
              <div class="name">
                <h4>Prapti Hazra</h4>
              </div>
              <div class="designation">
                <h5>Social Media Manager</h5>
                <p>Phoenix 2022-23</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>


</main><!-- End #main -->
<section class="carousel-resp">
  <div class="heading">
    <h1>OUR CORE MEMBERS</h1>
  </div>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="core">
          <div class="image">
            <img src="{% static '/img/core2022-23/raajbir.jpg' %}" alt="">
          </div>
          <div class="name">
            <h4>Raajbir Bajpaie</h4>
          </div>
          <div class="designation">
            <h5>President</h5>
            <p>Phoenix 2022-23</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="core">
          <div class="image">
            <img src="{% static '/img/core2022-23/sankhadeep.jpg' %} " alt="">
          </div>
          <div class="name">
            <h4>Sankha Deep Roy</h4>
          </div>
          <div class="designation">
            <h5>Secretary</h5>
            <p>Phoenix 2022-23</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="core">
          <div class="image">
            <img src="{% static '/img/core2022-23/payal.jpeg' %}" alt="">
          </div>
          <div class="name">
            <h4>Payal Kumari</h4>
          </div>
          <div class="designation">
            <h5>Treasurer</h5>
            <p>Phoenix 2022-23</p>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="core">
          <div class="image">
            <img src="{% static '/img/core2022-23/subhransu.jpg' %}" alt="">
          </div>
          <div class="name">
            <h4>Subhransu Roy</h4>
          </div>
          <div class="designation">
            <h5>Convenor</h5>
            <p>Phoenix 2022-23</p>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="core">
          <div class="image">
            <img src="{% static '/img/core2022-23/debarghya.jpg' %}" alt="">
          </div>
          <div class="name">
            <h4>Debarghya Goswami</h4>
          </div>
          <div class="designation">
            <h5>Vice-President<br>(PR, Database)</h5>
            <p>Phoenix 2022-23</p>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="core">
          <div class="image">
            <img src="{% static '/img/core2022-23/ankita.jpg' %}" alt="">
          </div>
          <div class="name">
            <h4>Ankita Hazra</h4>
          </div>
          <div class="designation">
            <h5>Vice-President <br>(Events and Promotion)</h5>
            <p>Phoenix 2022-23</p>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="core">
          <div class="image">
            <img src="{% static '/img/core2022-23/debjyoti.jpg' %}" alt="">
          </div>
          <div class="name">
            <h4>Debjyoti Roy Sarkar</h4>
          </div>
          <div class="designation">
            <h5>Vice-President (Academics and Forums)</h5>
            <p>Phoenix 2022-23</p>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="core">
          <div class="image">
            <img src="{% static '/img/core2022-23/debolina.jpg' %}" alt="">
          </div>
          <div class="name">
            <h4>Debolina Banerjee</h4>
          </div>
          <div class="designation">
            <h5>Assistant Secretary (Events and Promotion)</h5>
            <p>Phoenix 2022-23</p>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="core">
          <div class="image">
            <img src="{% static '/img/core2022-23/tanushree.jpg' %}" alt="">
          </div>
          <div class="name">
            <h4>Tanushree Karmakar</h4>
          </div>
          <div class="designation">
            <h5>Assistant Secretary (Academics and Forums)</h5>
            <p>Phoenix 2022-23</p>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="core">
          <div class="image">
            <img src="{% static '/img/core2022-23/prapti.jpg' %}" alt="">
          </div>
          <div class="name">
            <h4>Prapti Hazra</h4>
          </div>
          <div class="designation">
            <h5>Social Media Manager</h5>
            <p>Phoenix 2022-23</p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</section>
{% endblock content %}

{% block files %}
<!-- Template Main JS File -->
<script>document.write("<script src='/static/js/main.js?id="+Math.floor(Math.random() * 999999999999)+"'><\/script>");</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js">
</script>
{% endblock files %}